
<!-- cover -->
<section class="bg-purple text-white pattern"
         data-top-top="transform: translateY(0px);"
         data-top-bottom="transform: translateY(250px);">
  <div class="container pt-10">
    <div class="row mb-2">
      <div class="col-md-8 col-lg-6">
        <h1>Inner Pages</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Inner Pages</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- / cover -->


<section class="bg-white">
  <div class="container">
    <div class="row gutter-1 gutter-md-3 demo-preview">
      <div class="col-6 col-lg-4">
        <article class="card card-minimal">
          <a href="html/pages/about.html"  class="card-img-container">
            <img class="card-img" src="assets/images/demo/demos/about.jpg" alt="About">
          </a>
          <div class="card-body">
            <h5 class="card-title text-center"><a href="html/pages/about.html">About</a></h5>
          </div>
        </article>
      </div>
      <div class="col-6 col-lg-4">
        <article class="card card-minimal">
          <a href="html/pages/contacts.html"  class="card-img-container">
            <img class="card-img" src="" alt="Contacts">
          </a>
          <div class="card-body">
            <h5 class="card-title text-center"><a href="html/pages/contacts.html">Contacts</a></h5>
          </div>
        </article>
      </div>
      <div class="col-6 col-lg-4">
        <article class="card card-minimal">
          <a href="html/pages/pricing.html"  class="card-img-container">
            <img class="card-img" src="" alt="Pricing">
          </a>
          <div class="card-body">
            <h5 class="card-title text-center"><a href="html/pages/pricing.html">Pricing</a></h5>
          </div>
        </article>
      </div>
      <div class="col-6 col-lg-4">
        <article class="card card-minimal">
          <a href="html/pages/services.html"  class="card-img-container">
            <img class="card-img" src="assets/images/demo/demos/services.jpg" alt="Services">
          </a>
          <div class="card-body">
            <h5 class="card-title text-center"><a href="html/pages/services.html" >Services</a></h5>
          </div>
        </article>
      </div>
      <div class="col-6 col-lg-4">
        <article class="card card-minimal">
          <a href="html/pages/team.html"  class="card-img-container">
            <img class="card-img" src="assets/images/demo/demos/team.jpg" alt="Team">
          </a>
          <div class="card-body">
            <h5 class="card-title text-center"><a href="html/pages/team.html" >Team</a></h5>
          </div>
        </article>
      </div>
      <div class="col-6 col-lg-4">
        <article class="card card-minimal">
          <a href="html/pages/team-2.html"  class="card-img-container">
            <img class="card-img" src="assets/images/demo/demos/team-2.jpg" alt="Team">
          </a>
          <div class="card-body">
            <h5 class="card-title text-center"><a href="html/pages/team-2.html" >Team 2</a></h5>
          </div>
        </article>
      </div>
      <div class="col-6 col-lg-4">
        <article class="card card-minimal">
          <a href="html/pages/blog-tiles.html"  class="card-img-container">
            <img class="card-img" src="assets/images/demo/demos/blog-tiles.jpg" alt="Blog Tiles">
          </a>
          <div class="card-body">
            <h5 class="card-title text-center"><a href="html/pages/blog-tiles.html" >Blog Tiles</a></h5>
          </div>
        </article>
      </div>
      <div class="col-6 col-lg-4">
        <article class="card card-minimal">
          <a href="html/pages/blog-tiles-masonry.html"  class="card-img-container">
            <img class="card-img" src="assets/images/demo/demos/blog-tiles-masonry.jpg" alt="Blog Tiles Masonry">
          </a>
          <div class="card-body">
            <h5 class="card-title text-center"><a href="html/pages/blog-tiles-masonry.html" >Blog Tiles Masonry</a></h5>
          </div>
        </article>
      </div>
      <div class="col-6 col-lg-4">
        <article class="card card-minimal">
          <a href="html/pages/blog-default.html"  class="card-img-container">
            <img class="card-img" src="assets/images/demo/demos/blog-default.jpg" alt="Blog Default">
          </a>
          <div class="card-body">
            <h5 class="card-title text-center"><a href="html/pages/blog-default.html">Blog Default</a></h5>
          </div>
        </article>
      </div>
      <div class="col-6 col-lg-4">
        <article class="card card-minimal">
          <a href="html/pages/blog-single.html"  class="card-img-container">
            <img class="card-img" src="" alt="Blog Single">
          </a>
          <div class="card-body">
            <h5 class="card-title text-center"><a href="html/pages/blog-single.html">Blog Single</a></h5>
          </div>
        </article>
      </div>
      <div class="col-6 col-lg-4">
        <article class="card card-minimal">
          <a href="html/pages/404.html"  class="card-img-container">
            <img class="card-img" src="assets/images/demo/demos/404.jpg" alt="404">
          </a>
          <div class="card-body">
            <h5 class="card-title text-center"><a href="html/pages/404.html">404</a></h5>
          </div>
        </article>
      </div>
      <div class="col-6 col-lg-4">
        <article class="card card-minimal">
          <a href="html/pages/careers.html"  class="card-img-container">
            <img class="card-img" src="" alt="Careers">
          </a>
          <div class="card-body">
            <h5 class="card-title text-center"><a href="html/pages/careers.html">Careers</a></h5>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>



<!-- cta -->
<section class="pb-0 bg-dark text-white separator-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center">
        <h1>Start building <b>beautiful & functional</b> landing pages in minutes.</h1>
        <a href="https://themes.getbootstrap.com/product/go-multipurpose-landing-page-template/" class="btn btn-lg btn-purple btn-rounded mt-2 py-2 px-7">Purchase - $49</a>
      </div>
      <div class="col-12 mt-10">
        <img src="" alt="Demo Pages Preview">
      </div>
    </div>
  </div>
</section>
<!-- / cta -->
