<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Kitten Project</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">

                </li>
                
                <% if user_signed_in? %>
                <li class="nav-item active">
                <a <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></a>
                </li>
                <li class="nav-item active">
                    <a <%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %></a>
                </li>
                <% else %>
                <li class="nav-item active">
                    <a <%= link_to "Log in", new_user_registration_path, class: "dropdown-item" %></a>
                </li>
                <li class="nav-item active">
                    <a <%= link_to "Sign in", new_user_session_path, class: "dropdown-item" %></a>
                </li>
                <% end %>
        </div>
</nav>