<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.email %> et bienvenue chez nous !</h1>
    <p>
      Tu t'es inscrit sur NextKittens.com en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi sur <%= link_to 'NextKittens', "https://#{ENV['HOST']}" %>.
    </p>
    <p> À très vite sur NextKittens.com !
  </body>
</html>
