<div class="container">
<div id="drop_cart" class="bg-light" aria-hidden="true" style="display: none">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Hello cart!</h5>
      <ul class="list-group">
          <%= render partial: 'carts/partials/cart_dropdown_list', collection: current_cart.cart_cats %>
      </ul>
      <%= link_to "Acheter", cart_path(current_cart), class: "btn btn-primary btn-sm m-2" %>
      <small class="text-muted">Vous pourrez modifier votre commande dans le panier.</small>
    </div>
  </div>
</div>
</div>
<style>
  #drop_cart {
  margin: 20px 0;
  background: white;
  width: 480px;
  position: absolute;
  top: 80px;
  right: 100px;
  border-radius: 3px;
  padding: 20px;
  z-index: 1080;
  }
</style>