<li class="list-group-item d-flex justify-content-between lh-condensed">
  <div class="flex-shrink-1 w-50">
    <h6 class="font-weight-bold"><%= cart_dropdown_list.include_cat_info.title %></h6>
    <small class="text-muted"><%= cart_dropdown_list.quantity %></small>
  </div>
  <span class="flex-shrink-0 w-10"><%= cart_dropdown_list.total_cat_price %></span>
</li>