<section class="bg-color text-white pattern">
    <div class="container pt-10">
        <div class="row mb-2">
            <div class="col-md-8 col-lg-6">
                <h1>Chat picture</h1>
            </div>
        </div>
    </div>
</section>
