<div id="flash-message-section">
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %> alert-dismissable fade show Divalert" role="alert">
      <%= value %>
    </div>
  <% end %>
<div>