
<footer class="bg-dark text-white" >
  <div class="tab-content" id="component-2">
    <div class="tab-pane" id="component-2-1" role="tabpanel" aria-labelledby="component-2-1"></div>
    <div class="tab-pane show active" id="component-2-2" role="tabpanel" aria-labelledby="component-2-2">
      <div class="component-example component-example-fit">
        <footer class="bg-dark text-white">
          <div class="container pb-5">
            <div class="row">
              <div class="col">
                <br>
                <br>
                 <ul class="list-group list-group-minimal">
                  <li class="list-group-item"><%= link_to "About Us", about_path %></li>
                  <li class="list-group-item"><%= link_to "Team Project", team_project_path%></li>
                </ul>
              
              </div>
              <div class="col-center">
                <%= image_tag("Kitten_logo.png", size: "150x150", alt: "Logo" )%>
              </div>

              <div class="col-md-6 text-center text-md-right">
                    <ul class="socials">
                      <li><a href="" class="icon-facebook text-facebook fs-20"></a></li>
                      <li><a href="" class="icon-instagram text-instagram fs-20"></a></li>
                      <li><a href="" class="icon-twitter text-twitter fs-20"></a></li>
                      <li><a href="" class="icon-linkedin text-linkedin fs-20"></a></li>
                    </ul>
                  </div>
            </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    </div>
  </div>
</footer>
