
<footer class="bg-dark text-white" >
  <div class="tab-content" id="component-2">
    <div class="tab-pane" id="component-2-1" role="tabpanel" aria-labelledby="component-2-1"></div>
    <div class="tab-pane show active" id="component-2-2" role="tabpanel" aria-labelledby="component-2-2">
      <div class="component-example component-example-fit">
        <footer class="bg-dark text-white">
          <div class="container pb-5">
            <div class="row">
              <div class="col">
                <br>
                <br>
                 <div class="list-group list-group-minimal">
                  <p class="list-group-item"><%= link_to "Découvir la team qui a réalisé ce site", team_project_path%></p>
                </div>
              
              </div>
              <div class="col-center">
                <%= image_tag("Kitten_logo.png", size: "150x150", alt: "Logo" )%>
              </div>

              <div class="col-md-6 text-center text-md-right">
                    <div class="px-3 py-3 text-lg-center">
                      <h3 class="heading heading-sm c-base-text-1 strong-600 text-uppercase ls-1">Satisfait ou remboursé</h3>
                      <p class="c-white alpha-8 line-height-1_6">
                          Qualité des photos garanties par Kitten-Studio
                      </p>
                  </div>
            </div>
                  
              </div>

              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    </div>
  </div>
</footer>
